<h1>TRPG Writing Lab へようこそ！</h1>
<p>ここでは、TRPGシナリオ・ルールの投稿や閲覧、</br>
自分の作品にテストプレイヤーを募集したり、</br >
他の人のテストプレイに参加したりする事ができます。</p>

<p>投稿された作品に関してはログイン無しでも閲覧いただけます。</p>

<%= link_to "アカウントを作成", new_member_registration_path %>
<%= link_to "ログイン", new_member_session_path %>
<%= link_to "ログアウト", destroy_member_session_path, method: :delete %>