<!-- 最新コメント -->
<div class="row">
  <h1>最新コメント</h1>
</div>
<%= render 'list', comments: @new_comments %>
<!-- コメント一覧 -->
<div class="row">
  <h1>コメント一覧</h1>
</div>
<%= render 'list', comments: @comments %>


