<h1>メンバー一覧</h1>

<div>
  <% @members.each do |member| %>
    <%= link_to member_path(member.id) do %>
      <%= image_tag member.get_profile_image(100,100) %>
      <%= member.name %><br>
    <% end %>
  <% end %>
</div>
<div>
  <%= paginate @members %>
</div>