/* border */
.dotted-border {
    border: 1px dotted;
  }
.double-border {
  border: 3px double #000;
  padding: 10px;
}

/*star review*/
.post_form{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.post_form input[type='radio']{
  display: none;
}
.post_form label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 30px; /*星の大きさを変更*/
}
.post_form label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 9px; /*星の上の説明書きの大きさを変更*/
  color: gray;
}
.post_form label:hover,
.post_form label:hover ~ label,
.post_form input[type='radio']:checked ~ label{
  color: #ffcc00;
}
.star-rating {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 1em;
  font-size: 15px;
}
.star-rating-front {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  display: inline-block;
  color: #ccc;
}

/* heart color*/
.heart-color {
    color: #f91880;
}

/*nav-bar custom*/
@media (min-width: 992px) {
  .custom-nav-border {
    border: solid #000;
    border-width: 0 0 0 1px;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    display: flex;
    justify-content: center; /* 左右中央寄せ */
    width: 100%; /* 幅を100%に設定 */
  }
}